<div class="toolbar">
	<span class="toolbar__label fs-title">Lorem Ipsum</span>
	<div class="toolbar__right">
		<ul>
			<li class="nav fs-regular"><a href="#" ng-class="{active: mc.mode == 'diet'}" ng-click="mc.toggleMode('diet')">Питание</a></li>
			<li class="nav fs-regular"><a href="#" ng-class="{active: mc.mode == 'weighting'}" ng-click="mc.toggleMode('weighting')">Контроль веса</a></li>
			<li class="nav fs-regular"><a href="#" ng-class="{active: mc.mode == 'physicalActivity'}" ng-click="mc.toggleMode('unknown')">Физические нагрузки</a></li>
		</ul>
	</div>
</div>
